#scroll-button{
  background: #E6D862
}
.card-cont{
  display: flex;
}
.card-text{
  font-size: 20px
}
ul{
  list-style-type: none;
}
.splash{
  background-image: url('https://www.healthline.com/hlcmsresource/images/AN_images/benefits-of-kale-732x549-thumbnail.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.text-muted{
  font-size: 14px;
}
header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}
*{
  font-family: "Helvetica"
}
@media only screen and (min-width: 768px) {
  #scroll-button{
    margin-top: 100px;
  }
  .lead{
    font-size: 26px
  }
  .splash-text{
    font-size: 24px;
  }
}
